.navbar {
    background: #edaef9;
    background: -moz-linear-gradient(left, #edaef9 0%, #81b1fa 100%);
    background: -webkit-linear-gradient(left, #edaef9 0%, #81b1fa 100%);
    background: linear-gradient(to right, #edaef9 0%, #81b1fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edaef9', endColorstr='#81b1fa', GradientType=1);
}

* {
    font-family: 'PT Sans', sans-serif;
}

.card:hover {
    transform: scale(1.01);
}